/* Typography classes */

.font-balo {
    font-family: $font-balo;
}

.font-rale {
    font-family: $font-raleways;
}

.font-rubik {
    font-family: $font-rubik;
}

// font size
.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}