/* Product template */
.product {
    min-height: 300px;
    padding: 2px 7px;
}
.product .img { 
    // border: 1px solid;
    height: 180px;
    margin-bottom: 5px;
    // background: lightgrey;
    // border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.product .img img {
    width: 80%;
    
}